.cw-section {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.heading {
  color: #ca8252;
  font-size: 20px;
  margin-bottom: 10px;
}

.current-temp {
  font-size: 2em;
}

.current-temp1 {
  color: #aaa;
  font-size: 16px;
}

.current-data {
  display: flex;
  align-items: center;
  color: #f0f0f0;
  font-weight: 500;
  gap: 20px;
}

.cw-ac-section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.current-data1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-wd {
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.current-wd:hover {
  background-color: #ecf0f1;
}

.icon-name {
  margin-left: 5px;
  color: #555;
  font-size: 14px;
}

.current-wd2 {
  margin-top: 5px;
  font-size: 16px;
  color: #777;
}

@media (max-width: 480px) {
  .cw-section {
    width: 100%;
    margin: 15px;
  }

  .heading {
    margin-top: 15px;
    font-size: 18px;
  }

  .current-data {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }

  .cw-ac-section {
    padding: 10px;
  }

  .current-wd {
    margin: 10px 0;
    gap: 10px;
  }

  .current-wd1 {
    margin-right: 0;
  }

  .city-name {
    font-size: larger;
  }
}

@media (max-width: 970px) {
  .cw-section {
    width: 100%;
    margin: 15px;
  }

  .current-data {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .cw-ac-section {
    padding: 15px;
  }

  .current-wd {
    margin: 10px 0;
    gap: 15px;
  }
}
